<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65766094671-hv7tk3hv4r36rhigdj7ua9bd3ler54qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65766094671-hv7tk3hv4r36rhigdj7ua9bd3ler54qi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>65766094671-2l7pmji27s8e8c5ur4r6k3rld2bsd6so.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9vRnbP8P35eMueE-AzUjpdAR2kTddJYA</string>
	<key>GCM_SENDER_ID</key>
	<string>65766094671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xstudioz.doaba</string>
	<key>PROJECT_ID</key>
	<string>doabaindianrestaurent</string>
	<key>STORAGE_BUCKET</key>
	<string>doabaindianrestaurent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65766094671:ios:51a77f88c6c26ad7e7f73a</string>
</dict>
</plist>